$baseFont : 16;

$black: #000000;
$mediumBlack: #0C0B0B;
$white: #ffffff;
$grayDark: #262626;
$red: #E60019;
$gray: #8A8A8A;
$grayLight: #575454;
$grayULight: #A5A5A5;
$grayMLight: #F0F1F1;
$graySLight: #4E4D4D;
$grayEDark: #707070;

