@use '../base/config' as con;
@use '../base/functions' as fun;

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(con.$black,.46);
    z-index: 9;
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        padding: fun.toRem(16) 0 fun.toRem(6);
        @media screen and (min-width : 767px){
            justify-content: space-between;
            padding: fun.toRem(21) 0 fun.toRem(13);
        }
        @media screen and (min-width : 1199px){
            max-width: calc(100% - 106px);
        }
    }
    &__title{
        display: none;
        h1{
            font-family: 'Graphik Semibold';
            font-size: fun.toRem(23);
            line-height: fun.toRem(40);
            color: con.$white;
        }
        @media screen and (min-width : 767px){
            display: block;
        }
    }
    &__hamburguer{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: fun.toRem(30);
        @media screen and (min-width : 767px){
            display: none;
        }
    }
}