@use '../base/config'as con;
@use '../base/functions'as fun;

.rolling {
    .information {
        background-color: con.$grayMLight;

        @media screen and (min-width : 767px) {
            position: relative;
        }

        @media screen and (min-width: 1280px) {
            padding: fun.toRem(113) 0;
        }

        &__bg {
            width: 100%;
            height: fun.toRem(364);

            @media screen and (min-width : 767px) {
                position: absolute;
                inset: 0;
                z-index: 1;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 85%;

                @media screen and (min-width : 767px) {
                    object-position: 40%;
                }
            }
        }

        &__content {
            padding: fun.toRem(60) 0;

            @media screen and (min-width : 767px) {
                width: 100%;
                max-width: 50%;
                position: relative;
                z-index: 2;
            }

            p {
                font-size: fun.toRem(17);
                line-height: fun.toRem(25);
                @media screen and (min-width: 1280px){
                    font-size: fun.toRem(19);
                    line-height: fun.toRem(27);
                }
                @media screen and (min-width: 1560px){
                    font-size: fun.toRem(22);
                    line-height: fun.toRem(38);
                }
                strong {
                    font-family: 'Graphik Bold';
                }

                &:nth-of-type(1) {
                    margin: 0 0 fun.toRem(32);
                }
            }
        }
    }

    .publications {
        margin: fun.toRem(43) 0 0;

        .title {
            margin: 0 0 fun.toRem(36);
        }

        .splide {
            &__arrows {
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                right: -9%;
            }

            &__arrow {
                background-color: transparent;
                border: 0;
                position: relative;

                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 23px 0 23px 53px;
                    border-color: transparent transparent transparent con.$black;
                    display: block;
                }

                svg {
                    display: none;
                }

                &--prev {
                    display: none;
                }
            }
        }
    }

    .notices {
        padding: fun.toRem(40) 0 fun.toRem(44);

        .title {
            margin: 0 0 fun.toRem(30);
        }

        &__row {
            display: flex;
            flex-direction: column;
            gap: fun.toRem(26);

            @media screen and (min-width : 767px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width : 1199px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    .histories {
        background-color: con.$grayDark;
        padding: fun.toRem(40) 0 fun.toRem(44);
        @media screen and (min-width: 1280px) {
            padding: fun.toRem(178) 0 fun.toRem(249);
        }
        &--mob {
            @media screen and (min-width : 1024px) {
                display: none;
            }
        }

        &--desk {
            display: none;

            @media screen and (min-width : 1024px) {
                display: grid;
                grid-template-columns: 1fr 4fr;
                grid-column-gap: fun.toRem(165);
            }
            @media screen and (min-width: 1280px){
                grid-column-gap: fun.toRem(80);
                overflow: hidden;
            }
        }

        .title {
            margin: 0 0 fun.toRem(20);

            @media screen and (min-width : 1024px) {
                margin: 0 0 fun.toRem(70);
            }
        }

        &__row {
            display: flex;
            flex-direction: column;
            gap: fun.toRem(22);
        }
    }

    .votations {
        position: relative;
        padding: fun.toRem(33) 0 fun.toRem(30);
        @media screen and (min-width: 1280px) {
            padding: fun.toRem(133) 0 fun.toRem(200);
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
            mix-blend-mode: multiply;
            background-color: con.$gray;
        }

        &__bg {
            position: absolute;
            inset: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title {
            margin: 0 0 fun.toRem(33);
            @media screen and (min-width: 1280px) {
                margin: 0 0 fun.toRem(60);
            }
        }

        .container {
            position: relative;
            z-index: 2;
            @media screen and (min-width: 1560px) {
                max-width: fun.toRem(1215);
            }
        }

        &__nominees {
            &__action {
                display: flex;
                justify-content: center;
                margin: fun.toRem(16) 0 0;
            }
        }

        &__form {
            &__box {
                background-color: con.$white;
                padding: fun.toRem(22) fun.toRem(19) fun.toRem(30);
                @media screen and (min-width: 1280px) {
                    padding: fun.toRem(62) fun.toRem(77) fun.toRem(49);
                }
                h3 {
                    font-family: 'Publico Banner Ultra';
                    font-size: fun.toRem(28);
                    line-height: fun.toRem(35);
                    text-align: center;
                    margin: 0 0 fun.toRem(28);
                    @media screen and (min-width: 1280px) {
                        font-size: fun.toRem(34);
                        line-height: fun.toRem(42);
                    }
                    @media screen and (min-width: 1560px) {
                        font-size: fun.toRem(34);
                        line-height: fun.toRem(42);
                    }
                }
            }

            &__row {
                &:first-of-type {
                    margin: 0 0 fun.toRem(9);
                }

                input {
                    width: 100%;
                    height: fun.toRem(66);
                    font-size: fun.toRem(18);
                    background-color: con.$white;
                    border: 0;
                    box-shadow: 0 10px 30px rgba(con.$black, .37);
                    padding: 0 fun.toRem(17);

                    &::placeholder {
                        font-size: fun.toRem(18);
                        color: con.$grayULight;
                    }
                }
            }

            &__check {
                margin: fun.toRem(20) 0 0;
                display: flex;
                align-items: center;
                position: relative;

                &__field {
                    width: fun.toRem(21);
                    height: fun.toRem(21);
                    background-color: con.$white;
                    border: 1px solid con.$grayEDark;
                    margin: 0 fun.toRem(10) 0 0;
                    transition: .3s all ease-out;
                }

                input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;

                    &:checked {
                        &~div {
                            background-color: con.$red;
                        }
                    }
                }

                label {
                    font-size: fun.toRem(13);
                    line-height: 1;
                }
            }

            &__action {
                display: flex;
                justify-content: center;
                margin: fun.toRem(17) 0 0;
            }
        }

        &__thankyou {
            background-color: con.$white;
            padding: fun.toRem(44) fun.toRem(24) fun.toRem(42);
            @media screen and (min-width: 1280px) {
                padding: fun.toRem(165) fun.toRem(287) fun.toRem(170);
            }
            h3 {
                font-family: 'Publico Banner Ultra';
                font-size: fun.toRem(44);
                line-height: fun.toRem(50);
                text-align: center;
                margin: 0 0 fun.toRem(10);
            }

            p {
                font-size: fun.toRem(25);
                line-height: fun.toRem(33);
                text-align: center;
            }
        }
    }
}